.card
  .card-body
    %h4.card-title
      - if service.title
        = service.title
      - elsif service.suggested_at
        Submitted #{ time_ago_in_words service.suggested_at } ago
      - else
        Untitled
    = link_to 'Edit', [:edit, :admin, service], class: 'card-link'
    - if !service.published?
      = link_to 'Publish', [:toggle_publish, :admin, service], class: 'card-link', method: 'patch'
    - else
      = link_to 'Unpublish', [:toggle_publish, :admin, service], class: 'card-link', method: 'patch'
    = link_to 'Delete', [:admin, service], class: 'card-link', method: :delete, data: {confirm: 'You sure?'}